body {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.slide-container {
  width: 100%;
}
.slide-wrapper {
  overflow: hidden;
  width: 100%;
}
.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li{
  width: 50%;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;

  box-shadow: 0 2px 4px rgba(0,0,0, .4);
  opacity: .8;
  transform: scale(.8);
  transition: .3s;
  cursor: pointer;
}
.slide {
  transform: translate3d(0, 0, 0);
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
[data-control="slide"] li a{
  display: block;
  width: 15px;
  height: 15px;
  background-color: #FB5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  margin: 5px;
  transition: .2s;
}
[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background-color: #E54;
}